[submodule "arduino-cmake"]
	path = arduino-cmake
	url = https://github.com/wgrs33/arduino-cmake.git
	revision = heads/master
[submodule "libraries/LiquidCrystal_I2C"]
	path = libraries/LiquidCrystal_I2C
	url = https://github.com/johnrickman/LiquidCrystal_I2C.git
